body{
    margin: 0px;
}

main{
    margin-left: 10px;
    margin-right: 10px;
}
h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(255, 244, 96);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 80px;
}

.navbar a:hover{
    background-color: rgb(255, 255, 255);
}

.navbar img {
    width: 40px;
    height: 40px;
    display: block;
}